[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyqtgraph = "*"
opensimplex = "*"
"pyqt5" = "*"
scipy = "*"
pyopengl = "*"
"box2d" = "*"
matplotlib = "*"
mne = "*"
mayavi = "*"
flask = "*"
plotly = "*"
psutil = "*"
control = "*"
fpdf = "*"
youtube-dl = "==2017.7.9"
ipyleaflet = "*"
jupyter = "*"
leaflet = "*"
folium = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.6"
